/*
 * gbmspa.shell.css
 * Shell styles 
*/

.gbmspa-shell-head, .gbmspa-shell-head-logo, .gbmspa-shell-head-acct,
.gbmspa-shell-head-search, .gbmspa-shell-main, .gbmspa-shell-main-nav, 
.gbmspa-shell-main-content, .gbmspa-shell-foot, .gbmspa-shell-chat, 

.gbmspa-shell-modal {
	position : absolute;
}
.gbmspa-shell-head {
	top    : 0;
	left   : 0;
	right  : 0;
	height : 40px; 
}
.gbmspa-shell-head-logo {
	top    		 : 4px;
	left   		 : 4px;
	height 		 : 32px; 
	width      : 128px;
	background : orange;
}
.gbmspa-shell-head-acct {
	top    		 : 4px;
	right  		 : 0;
	width  		 : 64px;
	height 		 : 32px; 
	background : green;
}
.gbmspa-shell-head-search {
	top    		 : 4px;
	right  		 : 64px;
	width  		 : 248px;
	height 		 : 32px;
	background : blue; 
}

.gbmspa-shell-main {
	top    : 40px;
	left   : 0;
	bottom : 40px;
	right  : 0;
}

.gbmspa-shell-main-content, .gbmspa-shell-main-nav {
	top    : 0;
	bottom : 0;
}
.gbmspa-shell-main-nav {
	width : 250px;
	background : #eee;
}
	.gbmspa-x-closed .gbmspa-shell-main-nav {
		width : 0;
	}

.gbmspa-shell-main-content {
	left 	   : 250px;
	right 	   : 0;
	background : #ddd;
}
	.gbmspa-x-closed .spa-shell-main-content {
		left : 0;
	}

.gbmspa-shell-foot {
	bottom : 0;
	left   : 0;
	right  : 0;
	height : 40px;
}
.gbmspa-shell-chat {
	bottom 		 : 0;
	right  		 : 0;
	width  		 : 300px;
	height 		 : 15px;
	cursor       : pointer;
	background   : red;
	border-radius: 5px 0 0 0;
	z-index 	 : 1;
}

.gbmspa-shell-chat:hover {
	background : #a00;
}

.gbmspa-shell-modal {
	margin-top 	  : -200px;
	margin-left   : -200px;
	top 		  : 50%;
	left 		  : 50%;
	width 		  : 400px;
	height 		  : 400px;
	background 	  : #fff;
	border-radius : 3px;
	z-index 	  : 2;  
}